{% load static %} <!-- load css files -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lion City Soundscapes</title>

  <!-- Overpass font -->
  <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>

  <!-- load css file -->
  <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
</head>

  <body>

    <div class="title-wrapper">
        <div class="title-container">
          <p id="title">Lion City Soundscapes</p>
          <p id="subtitle">A Dataset of Characteristic Soundscapes of Singapore</p>
        </div>
      
      <div class="learnmore-container">
        <p id="learn-more">Learn More</p>
        <button>hello</button>
      </div>
    </div>
    <!-- navigation header -->
    {% include "header.html" %}

    
  </body>

</html>
