{% load static %} <!-- load css files -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lion City Soundscapes</title>

  <!-- Overpass font -->
  <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>

  <!-- load css file -->
  <link rel="stylesheet" href="{% static '/css/main-styles.css' %}" />

  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />


  <style>
    body {
        background-color: #070E17;
    }
  </style>
</head>

<body>
    <!-- navigation header -->
    <div class="header-wrapper">
      <header class="header" id="unresponsiveHeader">
        <a href="{% url 'about' %}" class="header-logo">Lion City Soundscapes</a>
        <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">&#9776;</a>
    
        <nav class="navbar" id="normalNavbar">
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'resources' %}">Resources</a>
          <a href="{% url 'map' %}">Map</a>
          <a href="{% url 'recordings' %}">Recordings</a>
          <a href="{% url 'contact' %}" class="active">Contact</a>
        </nav>
      </header>
    </div>

    <!-- content -->
    <p class="contactpage-title">Get in Touch</p>
    <div class="contact-wrapper">      
      <div class="contact-container">

        <div class="contactcard">
          <div class="left">
            <span class="fa-stack fa-lg fa-stack-align-middle">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-map-marker-alt fa-stack-1x"></i>
            </span>
          </div>
          <div class="right">
            <p class="card-title">Location</p>
            <p class="card-desc">
              S2-B4A-03, Digital Signal Processing Lab <br>
              Nanyang Technological University <br>
              31 Nanyang Link, Singapore 637718
            </p>
          </div>
        </div>

        <div class="contactcard">
          <div class="left">
            <span class="fa-stack fa-lg fa-stack-align-middle">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x"></i>
            </span>
          </div>
          <div class="right">
            <p class="card-title">Email Address</p>
            <p class="card-desc"><b>Kenneth Ooi</b><br>wooi002@e.ntu.edu.sg</p>
          </div>
        </div>

        <div class="contactcard">
          <div class="left">
            <span class="fa-stack fa-lg fa-stack-align-middle">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-address-book fa-stack-1x"></i>
            </span>
          </div>
          <div class="right">
            <p class="card-title">Contact No.</p>
            <p class="card-desc"><b>NTU DSP Lab</b><br>(+65) 6790 6901</p>
          </div>
        </div>
      </div>

      <div class="picture-container">
        <img src="{% static '/images/NTU_Hive.jpg' %}">
      </div>

    </div>

    <!-- responsive navbar js -->
    <script>
      function makeResponsive() {
          var x = document.getElementById("normalNavbar");
          if (x.className === "navbar") {
              x.className += " responsive";
          } else {
              x.className = "navbar";
          }
  
          var y = document.getElementById("unresponsiveHeader");
          if (y.className === "header") {
              y.className += " responsive";
          } else {
              y.className = "header";
          }
      }
    </script>
</body>
</html>