<!-- css files -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lion City Soundscapes</title>

  <!-- leaflet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>

  <!-- leaflet popup window -->
  <link rel="stylesheet" href="{% static '/css/popup-window.css' %}" />
  <script src="{% static '/js/popup-window.js' %}"></script>

  <!-- jQuery  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'jquery/jquery-csv/jquery.csv.js' %}"></script>

  <!-- papaparse -->
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>

  <!-- onemap
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="https://cdn.onemap.sg/leaflet/onemap-leaflet.js"></script> -->

  <!-- Overpass font -->
  <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>

  <!-- load css file -->
  <link rel="stylesheet" href="{% static '/css/styles.css' %}" />

  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <body>

    <!-- map header -->
    {% include "map-header.html" %}

    <!-- map -->
    <div id='mapdiv'>
      <button id="btn"><i class="fa fa-search"></i></button>
    </div>
    <script src="{% static '/js/map.js' %}"></script>

  </body>

</html>
