html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

body,
p {
  font-family: "Overpass", "Helvetica Neue";
  margin: 0px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  animation: fadeInAnimation ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



u, .link {
  text-underline-offset: 5px;
}

.link,
.link2 {
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  padding-bottom: 2px;
  background-position: 0 100%; /* bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0s 0.2s; /*change after the size immediately*/
}

.link {
  color: #ff8906;
  background-image: linear-gradient(#ff8906 0 0);
}

.link2 {
  color: #f25f4c;
  background-image: linear-gradient(#f25f4c 0 0);
}

.link:hover,
.link2:hover {
  background-position: 100% 100%; /* bottom right*/
  background-size: 100% 2px;
}

#bg-img {
  background-image: url(../images/background/title-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#last-panel-img {
  background-image: url(../images/background/last-panel-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* title container */
.title-wrapper {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.65);
  row-gap: 18px;
}

.title-wrapper .title-container {
  text-align: center;
}

#title {
  font-size: 60px;
  font-weight: bold;
  color: #fffffe;
  margin-bottom: 10px;
}

#subtitle {
  font-size: 18px;
  color: #a7a9be;
}

.learnmore-container {
  position: absolute;
  bottom: 10vh;
  text-align: center;
}

#learn-more {
  color: #fffffe;
  font-size: 15px;
}

.learnmore-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.learnmore-container button .fa.fa-chevron-circle-down {
  margin-top: 12px;
  color: #fffffe;
  background-color: transparent;
  font-size: 25px !important;
}

/* about page header */
.about-header-wrapper {
  position: absolute;
  padding: 40px 0 40px 0;
  background: rgba(15, 14, 23, 0.4);
  width: 100%;
}

.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}

.about-header-wrapper .header {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.about-header-wrapper .header .header-logo {
  color: #fffffe;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.about-header-wrapper .header .navbar {
  text-align: center;
}

.about-header-wrapper .header nav a {
  font-size: 17px;
  color: #fffffe;
  text-decoration: none;
  padding-left: 40px;
  transition: 0.12s;
}

.about-header-wrapper .header nav a:hover {
  color: #ff8906;
}

.about-header-wrapper .header nav .active {
  color: #ff8906;
}

.icon {
  display: none;
  font-size: 20px;
  color: #fffffe;
  font-weight: bold;
  text-decoration: none;
}

/* photo creds css */
#creds1 {
  color: rgba(255, 255, 254, 0.4);
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#creds2 {
  color: rgba(255, 255, 254, 0.4);
  font-size: 12px;
  position: relative;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
}

#creds1 a, #creds2 a {
  color: rgba(255, 255, 254, 0.4);
}

/* general pages css */
#container-title {
  font-size: 40px;
  color: #fffffe;
  font-weight: bold;
  margin-bottom: 40px;
}

#container-content {
  font-size: 15px;
  color: #a7a9be;
  line-height: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

@media (max-width: 1000px) {
  #container-content {
    grid-template-columns: 1fr;
    text-align: justify;
  }
}

/* about page */
/* container */
.about-wrapper,
.methodology-wrapper,
.end-wrapper {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #0f0e17;
  display: flex;
}

@media (max-width: 1000px) {
  .about-wrapper,
  .methodology-wrapper {
    height: auto;
    min-height: 100vh;
    padding: 150px 0 120px 0;
  }
}

@media (max-width: 1000px) {
  .end-wrapper {
    height: auto;
    min-height: 100vh;
  }
}


/* methodology container */
.methodology-wrapper {
  background-color: #242629;
}

#methodology-container-content {
  font-size: 15px;
  color: #a7a9be;
  line-height: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

@media (max-width: 900px) {
  #methodology-container-content {
    grid-template-columns: 1fr;
    text-align: justify;
  }
}


.methodology-wrapper
  .methodology-container
  #methodology-container-content
  .left-content {
  max-width: 100%;
  vertical-align: middle;
}

.methodology-wrapper
  .methodology-container
  #methodology-container-content
  .right-content {
  max-width: 100%;
  align-items: center;
  text-align: center;
}

.methodology-wrapper
  .methodology-container
  #methodology-container-content
  .right-content
  img {
  object-fit: cover;
  width: 70%;
}

/* end container */
.end-wrapper {
  background: rgba(0, 0, 0, 0.65);
}

.end-title {
  color: #fffffe;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 40px;
}


.end-container .btn {
  font-family: "Overpass";
  font-size: 18px;
  color: #fffffe;
  /* font-weight: bold; */
  background-color: #ff8906;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px transparent;
  transition: 0.12s linear;
}

.end-container .btn:hover {
  background-color: transparent;
  border: solid 1px #f25f4c;
  color: #f25f4c;
  font-weight: normal;
}

/* container css */
.about-container,
.methodology-container,
.end-container {
  width: 85%;
  margin: auto;
}

/* contact page */
.header-wrapper {
  /* position: absolute; */
  padding: 40px 0 40px 0;
  background: rgba(15, 14, 23, 0.4);
  width: 100%;
}

.header-wrapper .header {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-wrapper .header .header-logo {
  color: #fffffe;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.header-wrapper .header .navbar {
  text-align: center;
}

.header-wrapper .header nav a {
  font-size: 17px;
  color: #fffffe;
  text-decoration: none;
  padding-left: 40px;
  transition: 0.12s;
}

.header-wrapper .header nav a:hover {
  color: #ff8906;
}

.header-wrapper .header nav .active {
  color: #ff8906;
}

.contact-wrapper {
  position: relative;
  align-items: center;
  width: 85%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.contactpage-title {
  font-size: 40px;
  font-weight: bold;
  color: #fffffe;
  margin-top: 7.5%;
  margin-left: 7.5%;
}

.fa.fa-square {
  color: #fffffe;
}

.fa.fa-map-marker-alt,
.fa.fa-envelope,
.fa.fa-address-book {
  color: #ff8906;
}

.contact-container .contact-desc {
  font-size: 15px;
  color: #a7a9be;
  font-weight: bold;
}

.contact-container .contactcard {
  background-color: #242629;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px 15px 25px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.contact-container .contactcard .right {
  margin-left: 10px;
}

.contact-container .contactcard .right .card-title {
  color: #fffffe;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.contact-container .contactcard .right .card-desc {
  color: #a7a9be;
  font-size: 14px;
}

.picture-container {
  max-width: 100%;
  align-items: center;
  text-align: center;
}

.picture-container img {
  object-fit: cover;
  width: 80%;
}

@media screen and (max-width: 850px) {
  .picture-container {
    display: none;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}

/* recordings page */
.recordings-wrapper {
  position: relative;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.recordings-wrapper .recordings-title {
  color: #fffffe;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.recordings-wrapper .recordings-desc {
  width: 70%;
  max-width: 1000px;
  align-self: center;
  color: #a7a9be;
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 700px) {

  .recordings-wrapper .recordings-title {
    text-align: left;
  }

  .recordings-wrapper .recordings-desc {
    width: 100%;
    text-align: justify;
  }
}

.recordings-wrapper button {
  display: flex;
  align-self: center;
  margin-top: 50px;
  font-family: "Overpass";
  font-size: 15px;
  color: #fffffe;
  background-color: #ff8906;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px transparent;
  transition: 0.12s linear;
}

.recordings-wrapper button:hover {
  background-color: transparent;
  color: #f25f4c;
  border: solid 1px #f25f4c;
}

/* resources page */
.resources-wrapper {
  position: relative;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.resources-wrapper .resourcespage-title {
  color: #fffffe;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.resources-wrapper .resourcespage-desc {
  color: #a7a9be;
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

.resources-wrapper .resources-container {
  display: grid;
  margin-top: 90px;
  justify-content: center;
  align-items: center;

  grid-template-columns: repeat(auto-fill, 380px);
  row-gap: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 1380px) {
  .resources-wrapper .resources-container {
    padding-bottom: 50px;
  }
}

.resources-wrapper .resources-container .resources-card {
  position: relative;
  display: flex;
  background: #242629;
  border-radius: 5px;
  width: 350px;
  height: 450px;
  flex-direction: column;
}

.resources-wrapper .resources-container .resources-card .card-title {
  color: #fffffe;
  font-weight: bold;
  font-size: 20px;
  margin: 40px 30px 0px 30px;
}

.resources-wrapper .resources-container .resources-card .card-desc {
  color: #a7a9be;
  font-size: 15px;
  margin: 30px;
  line-height: 1.3;
}

.resources-wrapper .resources-container .resources-card .resources-link {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: #f25f4c;
  font-size: 12px;

  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#f25f4c 0 0);
  background-position: 0 100%; /* bottom left*/
  background-size: 0% 1.3px;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0s 0.2s; /*change after the size immediately*/
}

.resources-wrapper .resources-container .resources-card .resources-link:hover {
  background-position: 100% 100%; /* bottom right*/
  background-size: 100% 1.3px;
}


/* responsive css */
@media screen and (max-width: 850px) {
  .navbar {
    display: none;
  }
  .about-header-wrapper {
    background-color: rgba(15, 14, 23, 0.7);
    z-index: 2000;
  }

  .header-wrapper {
    background-color: rgba(15, 14, 23, 0.7);
    z-index: 2000;
  }
}

@media screen and (max-width: 850px) {
  .icon {
    float: right;
    display: block;
    position: absolute;
    top: 35px;
    right: 40px;
  }
  .navbar.responsive {
    float: none;
    position: relative; 
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: -10px;
    margin-top: 10px;
  }
  .navbar.responsive a {
    text-align: left;
    padding-left: 0 !important;
    margin-top: 20px;
  }

  .header.responsive {
    display: grid;
    grid-template-columns: 1fr;
  }
}

